<h2>Add a comment:</h2>

<%= form_with(model: [ @article, @article.comments.build(user_id: @article.user_id) ],
local: true) do |form| %>
  <%= form.hidden_field :user_id %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
