<h2>Add a comment:</h2>

<%= form_with(model: [ @commentable, @commentable.comments.build(user_id: current_user.id) ],
local: true) do |form| %>
  <%= hidden_field_tag "article_id", @article.id %>
  <%= form.hidden_field :user_id %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
