<h1>Listing Articles</h1>

<p>
    <%= link_to "New article", new_article_path %> 
</p>

<%= form_with(url: articles_path, method: "get", local: true) do |form| %>
  <p>
    <%= form.label :search %><br>
    <%= form.text_field :search, :value => @search %>
    <%= form.submit "search", :name => "" %>
  </p>
<% end %>

<p>
  <% flash.each do |key, value| %>
    <div> <%= key %>: <%= value %></div>
  <% end %>
</p>

<table>
  <tr>
    <th>Time</th>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.created_at.to_s(:short) %></td>
      <td>|<%= article.title %></td>
      <td>|<%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p>
    <%=link_to "Main page", controller: 'welcome' %>
</p>