<p>
  <%= image_tag @article.image unless @article.image.nil? %>
</p>
<p>
  <% unless @article.user.avatar.blank? %>
    <strong>Author:</strong>
    <%= image_tag @article.user.avatar.variant(resize_to_limit: [100, 100]) %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
 
<h2>Comments</h2>
<%= render @article.comments %>

<% unless current_user.nil? %>
  <%= render 'comments/form' %>
<% else %>
  <div>
    <%= link_to "Log In", login_path %>
    to leave a comment.
  </div> <br>
<% end %>


<%= link_to 'Back', welcome_index_path %>
