<div class="article">
<div class="card">

  <div class="card-header">
    <p>
      <%= image_tag @article.image unless @article.image.nil? %>
    </p>
    <div class="row">
      <div class="col-md-5">
        <% unless @article.user.avatar.blank? %>        
          <%= image_tag @article.user.avatar.variant(resize_to_limit: [100, 100]), class: "mx-auto rounded-circle img-fluid"  %>
        <% end %>
      </div>
      <h3 class="col-md-7">
        <strong><%= @article.title %></strong>
      </h3> 
    </div>

    <div class="comment-content col-md-11 col-sm-10">
      <strong>Author:</strong>
      <h6 class="small comment-meta"><%= @article.user.login %></h6>
    </div>
  </div>

  <div class="card-body">
    <p class="card-text">
      <%= @article.text %>
    </p>
    
    <p>
      <% unless current_user.nil? %>
        <%= link_to "Leave a comment on the article", new_comment_path(:article_id => @article.id), 
                    remote: true, class: "btn btn-primary btn-sm article-link-reply" %>
      <% else %>
        <div>
          <%= link_to "Log In", login_path(:before_login_path => request.path) %>
          to leave a comment.
        </div> <br>
      <% end %>
    </p>
  </div>
 
</div>

<div class="article-comment w-25"></div>

<div class="container py-2">
    <div class="row">
        <div class="comments col-md-9">
            <h3 class="mb-4 font-weight-light">Comments</h3>

            <div id="comments-reload">
              <div class="p-3"><%= will_paginate @comments, renderer: custom_paginate_renderer %></div>
                <div id="comments">
                  <%= render @comments %>
                </div>
            </div>
            
        </div>
    </div>
</div>

<%= render 'layouts/time_localizer' %>
<p>
  <%= link_to 'Back', welcome_index_path, class: "btn btn-secondary btn-sm" %>
</p>

</div>